/*!
 * _vars.css
 */

$body-background: #FFF;

$header-background: #333;
$header-color: #CCC;
$header-hover-color: #FFF;

$events-background: #FFF;

$news-background: #CCC;

$footer-background: #900;
$footer-color: #FFF;