/*!
 * _vars.css
 */

$body-background: #F2F2F2;

$header-background: #9b0000;
$header-color: #CCC;
$header-hover-color: #FFF;

$search-background: #666666;
$search-box-background:#434343;

$footer-background: #434343;
$footer-color: #CCC;