/*!
 * style.css
 */

@import "base";

/*!
 * Header
 */

header{
  background: $header-background;
  color: $header-color;
  .lang-switch{
    background: #666;
    border-bottom: #f00;
    a{
      font-size:14px;
      color: $header-color;
      &:hover{
        color: $header-hover-color;
      };
    }
  }
  .banner{
    @extend .hvcenter;
    padding: 10px 0;
  }
}

/*!
 * Site Content
 */
#site-content{
  #feature-events{
    background: $events-background;
    border: 2px solid $events-border;
    margin-bottom:20px;
    #feature-events-head{
      color: $events-head-color;
      :first-child{
        border-bottom: 2px solid $events-border;
      }
      h4{
        @extend .hvcenter;
        float:left;
        padding: 10px;
        a{
          text-decoration: none;
        }
      }
    }
    #feature-events-latest{
      margin:0;
      padding:0;
      background: $events-latest-background;
      .latest-events{
        border-left: 2px solid $events-border;
        padding:15px;
      } 
    }
  }

  #carousel{
  
  }

  #news{
    .latest-news{
      margin: 10px 0;
      padding: 10px 10px 0px;
      background: $latest-news-background;
      border: 1px solid $latest-new-border;
      border-radius: 5px;
      img{
        width:100%;
      }
      p{
        color: $latest-news-p-color;
        a{
          display:block;
          margin-top: 10px;
          padding-top:5px;
          border-top: 1px solid $latest-news-a-border-top;
          color: $latest-news-a-color;
          font-size:13px;
          span{
            float:right;
            color: $latest-news-p-span-color;
          }
        }
      }
    }
  } 
}


/*!
 * Footer
 */
footer{
  background: $footer-background;
  color: $footer-color;
  padding: 20px 0;
  margin-top:20px;
  .footer-logo{
    padding-top:1.5em;
  }
  .footer-address{
    padding-left:1em;
  }
  .footer-contact{
    padding-top:2em;
  }
}